*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.cart-page{
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;

}

th{
    text-align: left;
    padding: 5px;
    color: #ffffff;
    background:  rgb(67, 126, 204);
    font-weight: normal;   
}

td{
    padding:10px 5px ;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color:  #375da5;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}


.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid  #375da5;
    width: 100%;
    max-width: 400px;

}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.envio{
  margin-top: 100px;
  margin-left: 40%;
  color: #ffffff;
  background: #bad1f3;
  font-weight: normal;  
  align-content: center;
  border-top: 3px solid   rgb(106, 158, 226);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
  
}
.envio input{
    margin-left: 20px;
    border-style: none;
}
.envio button{
    border-style: none;
    background: cornsilk;
    font-weight: normal;
    margin: 4px;
}

.validacion{
background:rgb(69, 95, 238);
}